---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Yudhy, a artificial intelligence developer from Indonesia.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>Tensorflow</li>
        <li>Pytorch</li>
        <li>Streamlit</li>
        <li>Flet</li>
        <li>Tableau</li>
        <li>Excel</li>
        <li>R</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about machine learning, data analysis, and blockchain technology. 
      An unusual hobby of mine is exploring the intersection of technology and sustainable development.
    </p>
  </div>
</Card>
