---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light mb-1">
      Learn, Share and Grow 💜
    </p>

    <p class="text-md mb-1 font-medium">
      I enjoy providing software solutions and bring ideas to life and solve real-world problems.
      <hr/>
      <p class="text-sm font-light">
        I use the following technologies:
      </p>
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>Tensorflow</li>
        <li>Pytorch</li>
        <li>Streamlit</li>
        <li>Flet</li>
        <li>Tableau</li>
        <li>R</li>
        <li>C++</li>
        <li>Solidity</li>
        <li>Motoko</li>
        <li>MySQL</li>
        <li>Swift</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      More about my Projects and my Experiences.
    </p>
  </div>
</Card>
